[Unit]
Description=Run the weekly ZDR container update check

[Timer]
OnCalendar=Wed *-*-* 08:00:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
