DOMAIN=zerodayreapers.me
HOSTS='zerodayreapers.me www.zerodayreapers.me status.zerodayreapers.me analytics.zerodayreapers.me'
DKIM_NAMES='resend._domainkey.zerodayreapers.me'
DOMAIN_EXPIRY_WARN_DAYS=45
TLS_EXPIRY_WARN_DAYS=21
