MAIL_IMAP_HOST='mail.privateemail.com'
MAIL_IMAP_PORT='993'
MAIL_USERNAME='contact@zerodayreapers.me'
MAIL_PASSWORD='CHANGE_ME'
MAIL_FOLDER='INBOX'
MAIL_TIMEZONE='Asia/Karachi'
MAIL_INCLUDE_SUBJECT='false'
MAIL_MAX_MESSAGES_PER_RUN='20'
